body {
    margin-left: 10px;
    background-color: royalblue;
    color: white;
    font-size: 1rem;
}

h1 {
    margin: 10px 0;
    font-size: 2rem;
}
input {
    margin: 0 5px;
}
.error {
    border: 1px solid red;
}

.button {
    font-size: 1rem;
  background-color: green;
  border-radius: 8px;
  color: white;
}